---
import Layout from '../layouts/Layout.astro';
import MenuBar from '../components/MenuBar.astro';
---

<Layout>
    <main>
        <div class="fade-in-text">
            <MenuBar />
            <p></p>
        </div>
    </main>
</Layout>