---
import Layout from '../layouts/Layout.astro';
import MenuBar from '../components/MenuBar.astro';
---

<Layout title="dj1ch | About">
    <main>
        <div class="fade-in-text">
            <MenuBar />
            <h1>About <span class="text-gradient">me</span></h1>
            <div class="container">
                <h3>Here's a little bit more about me...</h3>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0KkCARNowwM2GPmTG5SHC7?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <p>For further context, regarding how I got here, it started with me coding a lot as a kid. Super simple stuff whether it be <i>Scratch</i>, coding books, computer exposure, etc. I picked up programming at a fairly young age and this skill continued into my teenage life. Coding came easy to me.</p>
                <p>Eventaully as I grew up I tended to gravitate towards computers in general, leading me to learning Cybersecurity. A mix of free online courses such as <i><a href="https://tryhackme.com">Tryhackme</a></i>, with some people in my family helping nourish my skill. I messed with Microcontrollers, SBC's, Chromebooks, etc (and I still do).</p>
                <p>Later, I found some projects on <i>Github</i>, which I still contribute to, to this day. I met some really cool people who helped me figure out and build my future career.</p>
                <p>Now, I spend most of my time studying for school, extracurriculars, or working on (last) personal projects. I'm pretty busy now and I hope to make it into a good college.</p>
            </div>
        </div>
    </main>
</Layout>