---
import Layout from '../layouts/Layout.astro';
import MenuBar from '../components/MenuBar.astro';
---


<Layout>
  <head>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('contact-form');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          // get form values
          const name = document.getElementById('name').value;
          const email = document.getElementById('email').value;
          const messageText = document.getElementById('message').value;

          // validate fields
          if (!name || !email || !messageText) {
            alert('Please fill in all the required fields.');
            return;
          }

          // construct the message
          const content = `**Name:** ${name}\n**Email:** ${email}\n\n**Message:**\n${messageText}`;

          // send data to discord
          const webhook = 'https://discord.com/api/webhooks/1164589281772310588/--yzEwJ8ydf0WYENe9sQ-mgBr3q8do5a4ddUKXNPo7rjUUzsrvqo61c9CJlA24erP9N2';
          fetch(webhook, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ content: content }),
          })
            .then(response => response.json())
            .then(data => console.log('Response from Discord:', data))
            .catch(error => console.error('Error sending message to Discord:', error));
        });
      });
    </script>
  </head>
    <main>
      <div class="fade-in-text">
        <MenuBar />
        <h1>Send me a <span class="text-gradient">message...</span></h1>
        <p align="center">Use this for any sort of communication with me. Remember that every time you push <i>Submit</i> a message will be sent to me.</p>
        <div class="container">
          <h3>Contact</h3>
            <form id="contact-form">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" required>
                <p></p>
          
                <label for="email">Email: </label>
                <input type="email" id="email" name="email" required>
                <p></p>
          
                <label for="message">Message: </label>
                <textarea id="message" name="message" rows="1" required></textarea>
                <p></p>
          
                <button type="submit">Submit</button>
              <p></p>
          </form>
        </div>
      </div>
    </main>
</Layout>