---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import "../styles/global.css";
---

<Layout title="dj1ch | Portfolio">
	<main>
		<div class="fade-in-text">
			<h1>Welcome to my <span class="text-gradient">Portfolio</span></h1>
			<p align="center">I'm Isaac, a developer with a passion for Embedded systems and Frontend Web Development.</p>
		</div>
		<h3 align="center">Projects: </h3>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/Pwnagotchi-Unofficial/minigotchi"
				title="minigotchi"
				body="An even smaller pwnagotchi."
			/>
			<Card
				href="https://github.com/dj1ch/pico-key"
				title="pico-key"
				body="A physical pentesting toolkit on a regular Raspberry Pi Pico."
			/>
			<Card
				href="https://github.com/eupnea-project/eupnea-project.github.io"
				title="eupnea-project.github.io"
				body="The Eupnea Project website and docs."
			/>
			<Card
				href="https://github.com/dj1ch/mr-kushi-website-but-better"
				title="mr-kushi-website-but-better"
				body="A better website for my geometry class."
			/>
		</ul>
	</main>
</Layout> 