---
import MainLayout from "~/layouts/MainLayout.astro";

import { Separator } from "~/components/ui";

import DevelopedBy from "~/components/DevelopedBy.tsx";
import Bar from "~/components/Bar.tsx";
import Menu from "~/components/Menu.tsx";
import WorkExperience from "~/components/Work.tsx"
---

<MainLayout>
  <main class="container p-3 mx-auto max-w-screen-sm min-h-dvh">
    <Bar client:idle />

    <Separator className="my-8" />

    <Menu title="Work Experience" client:idle>
      <WorkExperience />
    </Menu>

    <Separator className="my-8" />

    <DevelopedBy />
  </main>
</MainLayout>