---
// menu bar
---

<nav class="menu-bar" align="right">
    <ul class="menu-list">
        <li class="menu-item"><a href="/about" class="menu-link">About</a></li>
        <li class="menu-item"><a href="/contact" class="menu-link">Contact</a></li>
        <li class="menu-item"><a href="/" class="menu-link">Home</a></li>
    </ul>
</nav>

<style scoped>
    .menu-bar {
        background-color: #23262d;
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    }

    .menu-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        display: inline;
        margin-right: 20px;
    }

    .menu-link {
        text-decoration: none;
        color: white;
        transition: text-decoration 0.3s;
    }

    .menu-link:hover {
        text-decoration: underline;
    }
</style>
